/static/test/*

/hosts/*

/todos.txt
/note.txt

.env
./when-you-are-extremely-bored-make-some-themes-with-this.jpg

/.vscode
/.VSCodeCounter

*/log.txt
*/*log.txt

/lib/structure/compiled-widgets/*
/lib/structure/registry.json
/lib/rekves.zip

/static/test/test-page.json