/static/test/*

/hosts/*

/todos.txt
/note.txt

.env

/.vscode
/.VSCodeCounter

*/log.txt
*/*log.txt

/lib/structure/compiled-widgets/*
/lib/structure/registry.json
/lib/rekves.zip

/static/test/test-page.json