*/access.php

/test/*

/media/*

/hosts/*

/todos.txt
/note.txt

/ajax/get/hash.php

.env

/.vscode

*/log.txt
*/*log.txt

/lib/structure/compiled-widgets/*
/lib/structure/registry.json

/templates/test-page.json
/templates/test.*