* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

:root {
  --text-color: #223;
  --text-color-2: #556;
  --container-0: #fff;
  --container-1: #eef;
  --container-2: #dde;
  --container-3: #ccd;
  --container-4: #99a;
  --container-opposite-0: rgb(177, 59, 165);
  --container-opposite-1: rgb(120, 37, 131);
  --container-opposite-2: rgb(69, 20, 93);
  --container-opposite-3: rgb(23, 5, 45);
  --blue: #87e5ff;
  --pink: #FFACC9;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-text {
  text-align: center;
}

.chained-inputs {
  display: flex;
  box-sizing: unset;
}

.chained-inputs input::-webkit-outer-spin-button,
.chained-inputs input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.chained-inputs input[type=number] {
  -moz-appearance: textfield;
}


p.PHP-Exception {
  display: none;
  position: fixed;
  top: 10px;
  left: 10px;
}

p.PHP-Exception.throw {
  display: block;
}


p.blockquote {
  font-size: 0.9em;
  width: 100%;
  border-left: transparent solid 8px;
  padding: 8px;
  margin-top: 4px;
}

p.note {
  background-color: #FFDEBE;
  border-color: #FE8402;
}

p.error {
  display: none;
  background-color: #FFBABA;
  border-color: #FF5252;
}

.show {
  display: block !important;
}



button.link,
a {
  all: unset;
  color: #417;
  font-size: 0.9em;
  font-weight: bold;
}

button.link:hover,
a:hover {
  cursor: pointer;
  text-decoration: underline;
}