#take-down-window #post-title {
  font-weight: bold;
  font-style: italic;
}

#take-down-window textarea {
  background-color: var(--container-2);
  border: 1px solid var(--container-4);
  color: var(--text-color-1);
  resize: none;

  padding: 8px;
  margin-top: 8px;

  transition: background-color 250ms linear, border-color 250ms linear;
}

#take-down-window textarea:focus {
  background-color: var(--container-1);
  border-color: var(--container-3);
  color: var(--text-color-0);
  outline: unset;
}



.user-view > *:last-child .u-head {
  border-bottom: unset;
}
.u-head {
  padding: 16px;
  background-color: var(--container-1);
  border-bottom: 1px solid var(--container-3);

  transition: background-color 250ms, border-bottom-color 250ms;
}
.u-head > div:not(.start) {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.user.banned {
  color: white !important;
}
.user.banned .u-head {
  background-color: #a90b3a !important;
  border-bottom-color: #720536 !important;
  color: inherit;
}
.u-head.default,
.user.expanded .u-head {
  background-color: var(--container-0);
  border-bottom: 1px solid var(--container-2);
}
.u-head .start {
  display: flex;
  gap: 1em;
  align-items: center;
}
.u-head .start img {
  width: 3em;
  height: 3em;
  object-fit: cover;
  border-radius: 10px;
}
.user.banned .u-head .expand {
  color: white;
}
.u-head .expand {
  width: 1em;
  height: 1em;
  color: var(--text-color-0);
  transition: transform ease 250ms;
}
.u-head .expand:hover {
  cursor: pointer;
}
.user.expanded .u-head .expand {
  transform: rotate(90deg);
}
.u-column {
  display: flex;
  flex-direction: column;
}
.user.banned .u-column span {
  color: #ddd;
}
.u-column span {
  font-size: smaller;
  color: var(--text-color-2);
  text-transform: uppercase;
}
.u-column span::before {
  content: "/";
}




.u-posts {
  display: none;
  flex-direction: column;
}
.user.expanded .u-posts {
  display: flex;
}
.post {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
}
.post .post-info h3:hover {
  cursor: pointer;
}
.post.taken-down {
  background-color: rgba(144, 12, 62, 0.75);
  color: #efa3b2;
}
.post .content {
  flex: 1;
  display: grid;
  grid-template-columns: 32px 1fr 32px;
  place-items: center;
  gap: 0.5em;
  max-width: 850px;
  margin-right: auto;
  margin-left: auto;
}
.post .content > .post-info {
  display: flex;
  flex-direction: column;
  place-self: start;
}

.post .content .icon-mount {
  width: 100%;
  height: 100%;
}

.post .content .date {
  font-size: 0.70em;
}
.post .options {
  margin-left: 10px;
  margin-right: 10px;
  z-index: 2;
}









.appeals-view > * {
  border-bottom: 1px solid inherit;
}
.appeals-view > .appeal {
  background-color: var(--container-1);
  border-color: var(--container-3);

  transition: background-color 250ms linear, border-color 250ms linear;
}
.appeals-view > .appeal.not-read {
  background-color: var(--container-0);
  border-color: var(--container-2);
}
.appeals-view > .appeal:first-child {
  margin-top: unset;
}
.appeals-view > *:last-child {
  border-bottom: unset;
}
.appeal .u-head {
  background-color: var(--container-opposite-3);
  color: var(--text-color-opposite-0);
  border: unset;

  transition: background-color 250ms linear;
}
.appeal.not-read .u-head {
  background-color: var(--container-opposite-2);
}
.appeal .u-column span {
  color: var(--text-color-opposite-1);
}
.a-body {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  border-bottom: 1px solid var(--container-2);
}
.a-msg.null::before {
  content: "No message";
  font-style: italic;
  color: var(--text-color-1);
}
.a-controls {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
}