body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;

  background-color: var(--container-opposite-0);
  transition: background 500ms linear;
}