* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

:root {
  --text-color: #223;
  --text-color-2: #556;
  --text-color-3: #778;
  --text-color-opposite: #eef;
  --container-0: #fff;
  --container-1: #eef;
  --container-2: #dde;
  --container-3: #ccd;
  --container-4: #99a;
  --container-opposite-0: rgb(177, 59, 165);
  --container-opposite-1: rgb(120, 37, 131);
  --container-opposite-2: rgb(69, 20, 93);
  --container-opposite-3: rgb(23, 5, 45);
  --blue: #87e5ff;
  --pink: #FFACC9;
}


::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: var(--container-opposite-3);
  border-radius: 999px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--container-opposite-1);
}



.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-text {
  text-align: center;
}

.chained-inputs {
  display: flex;
  box-sizing: unset;
}

.chained-inputs input::-webkit-outer-spin-button,
.chained-inputs input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.chained-inputs input[type=number] {
  -moz-appearance: textfield;
}


.text-icon {
  color: var(--text-color);
}


p.PHP-Exception {
  display: none;
  position: fixed;
  top: 10px;
  left: 10px;
}

p.PHP-Exception.throw {
  display: block;
}


p.blockquote {
  font-size: 0.9em;
  width: 100%;
  border-left: transparent solid 4px;
  padding: 8px;
  margin-top: 4px;
}

p.note {
  background-color: #FFDEBE;
  border-color: #FE8402;
}

p.error {
  display: none;
  background-color: #FFBABA;
  border-color: #FF5252;
}

.show {
  display: block !important;
}



button.link,
a {
  all: unset;
  color: #417;
  font-size: 0.9em;
  font-weight: bold;
}

button.link:hover,
a:hover {
  cursor: pointer;
  text-decoration: underline;
}







.checkbox-container {
  font-family: Helvetica, sans-serif;
  font-size: 1em;
  line-height: 1.1;
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;
  margin-top: 4px;
}

input[type="checkbox"] {
  position: relative;

  appearance: none;
  background-color: #fff;
  margin: 0 !important;

  font: inherit;
  color: black;
  width: 1.15em;
  height: 1.15em;
  border: 0.08em solid black;
  border-radius: 0.15em !important;
  transform: translateY(-0.075em);
  transition: background-color 100ms linear;
}

input[type="checkbox"]:checked {
  background-color: dodgerblue;
  transition: background-color 150ms linear;
}

input[type=checkbox]:focus {
  outline: 2px solid var(--container-opposite-1);
}





.default-container {
  display: flex;
  overflow: auto;
  flex-direction: column;
  width: 350px;
  max-height: 100%;
  padding: 50px;
  background-color: var(--container-0);
  border-radius: 8px;
  box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
}