#appeal #post-title {
  font-weight: bold;
  font-style: italic;
}

#appeal textarea {
  background-color: var(--container-2);
  border: 1px solid var(--container-4);
  color: var(--text-color-1);
  resize: none;

  padding: 8px;
  margin-top: 8px;

  transition: background-color 250ms linear, border-color 250ms linear;
}

#appeal textarea:focus {
  background-color: var(--container-1);
  border-color: var(--container-3);
  color: var(--text-color-0);
  outline: unset;
}



#create-post .checkboxes {
  display: flex;
  flex-direction: column;
  gap: 8px;
}




.post-view {
  display: flex;
  flex-direction: column;
}
.post {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
}
.post.taken-down {
  background-color: rgba(144, 12, 62, 0.75);
  color: #efa3b2;
}

.post .content {
  flex: 1;
  display: grid;
  grid-template-columns: 32px 1fr 32px;
  place-items: center;
  gap: 0.5em;
  max-width: 850px;
  margin-right: auto;
  margin-left: auto;
}

.post .content > .post-info {
  display: flex;
  flex-direction: column;
  place-self: start;
}

.post .content .icon-mount {
  width: 100%;
  height: 100%;
}

.post .content .date {
  font-size: 0.70em;
}

.post .content h3:hover {
  cursor: pointer;
}

.post .options {
  margin-left: 10px;
  margin-right: 10px;
  z-index: 2;
}











.comment {
  padding: 32px;
  display: flex;
  flex-direction: column;
  background-color: var(--container-1);
  border-bottom: 1px solid var(--container-3);
}
.comment.new {
  background-color: var(--container-0);
  border-bottom: 1px solid var(--container-2);
}
.comment-view > *:last-child {
  border-bottom: unset;
}
.comment .c-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 8px;
}
.comment .c-msg {
  text-align: justify;
}
.comment .c-controls {
  padding-top: 8px;
}
.comment .c-reply {
  padding: 16px;
  padding-bottom: unset;
}

.comment-view .system-msg {
  padding: 32px;
  background-color: var(--container-1);
  border-bottom: 1px solid var(--container-3);
}
.comment-view .system-msg * {
  color: var(--text-color-2);
}









#themes {
  container: theme-grid / inline-size;
}
@container theme-grid (inline-size > 1000px) {
  .theme-view {
    grid-template-columns: repeat(4, 1fr) !important;
  }
}
@container theme-grid (inline-size > 1350px) {
  .theme-view {
    grid-template-columns: repeat(5, 1fr) !important;
  }
}

.theme-view {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 250px;
  padding: 32px;
  gap: 16px;
  place-items: center;
}
.theme {
  border-radius: 10px;
  overflow: hidden;
  width: 200px;
  height: 250px;
  position: relative;
  outline: 4px solid transparent;

  transition: outline-color 250ms linear;
}
.theme:hover {
  outline: 4px solid var(--container-opposite-2);
  cursor: pointer;

  transition: outline-color 0ms linear;
}
.theme.selected {
  outline: 4px solid var(--container-opposite-0) !important;

  transition: outline-color 0ms linear;
}
.theme img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.theme .gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%);
}
.theme .label {
  position: absolute;
  bottom: 0;
  left: 0;
  color: white;
  width: 100%;
  padding: 4px;
  display: flex;
  justify-content: flex-end;
}












#upload-files .drop-area {
  width: 100%;
  height: 250px;
  background-color: var(--container-2);
  border-radius: 8px;
  border: 2px solid var(--container-3);
  display: flex;
  justify-content: center;
  align-items: center;

  transition: background-color 250ms linear, border-color 250ms linear;
}
#upload-files .drop-area.drag-over {
  background-color: var(--container-1);
  border-color: var(--container-opposite-2);
}
#upload-files .drop-area .hint {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
#upload-files .drop-area #upload-files-input {
  display: none;
}
#upload-files .selected-files {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow: auto;
  max-height: 200px;
  padding: 2px 0;
}
/* TODO style properly, use icon */
#upload-files .selected-files button {
  padding: 4px;
  margin-left: 8px;
  margin-right: 8px;
}




.dropdown {
  position: relative;
}
.dropdown .items {
  position: absolute;
  top: calc(100%);
  left: 0;
  box-shadow: var(--container-3) 0 7px 29px 0;
  padding-top: 8px;
  display: none;
  flex-direction: column;
  width: 200px;
  overflow: hidden;
}
.dropdown:hover .items {
  display: flex;
}
.dropdown .items > div:first-child {
  padding-top: 16px;
  border-radius: 5px 5px 0 0;
}
.dropdown .items > div {
  padding: 8px 16px;
  overflow: hidden;
  background-color: var(--container-0);
  border-bottom: 1px solid var(--container-1);
  transition: background-color 150ms linear, border-bottom-color 150ms linear;
}
.dropdown .items > div:hover {
  background-color: var(--container-1);
  border-bottom-color: var(--container-2);
  cursor: pointer;
  transition: background-color 0ms linear, border-bottom-color 0ms linear;
}
.dropdown .items > div:last-child {
  padding-bottom: 16px;
  border-bottom: unset;
  border-radius: 0 0 5px 5px;
}

.f-v-control {
  display: flex;
  padding: 16px;
  background-color: var(--container-opposite-2);
  gap: 0.5em;
  align-items: center;
  color: var(--text-color-opposite-0);
}
.files-view {
  padding-bottom: 4px;
}
.files-view > *:last-child {
  border-bottom: unset;
}
.file {
  background-color: var(--container-0);
  border-bottom: 1px solid var(--container-2);
  transition: background-color 250ms linear, border-bottom-color 250ms linear;
}
.file > div {
  max-width: 900px;
  margin-right: auto;
  margin-left: auto;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.file:has(span:focus) {
  background-color: var(--container-1);
  border-bottom-color: var(--container-2);
}
.file span:focus {
  outline: unset;
}
.file:has(input[checked]) {
  background-color: var(--container-1);
  border-bottom: 1px solid var(--container-3);
}
.file > div > div {
  display: flex;
  align-items: center;
}
.file > div > div > *:first-child {
  margin-right: 0.5em;
}
.file .file-icon {
  width: 3em;
  height: 3em;
  object-fit: cover;
}
.file span.size {
  white-space: pre;
  padding-left: 0.5em;
}

.selected-file {
  font-size: 0.9em;
  display: flex;
  justify-content: space-between;
  padding: 0 8px;
}
.selected-file .start > span {
  max-width: 70%;
  white-space: normal;
}
.selected-file > * {
  display: flex;
  align-items: center;
}
.selected-file .file-icon {
  width: 2em;
  height: 2em;
}