@import url('https://fonts.googleapis.com/css2?family=Crete+Round:ital@0;1&display=swap');

:root {
    --text-color-0: #181e26;
    --text-color-1: #1f2530;
    --text-color-2: #252c39;
    --text-color-opposite-0: #181e26;
    --text-color-opposite-1: #1f2530;
    --container-0: #efedeb;
    --container-1: #eae7e5;
    --container-2: #dfdad7;
    --container-3: #d5ceca;
    --container-4: #cac2bd;
    --container-opposite-0: #d6e2f7;
    --container-opposite-1: #c1d3f4;
    --container-opposite-2: #adc5f0;
    --container-opposite-3: #98b6ec;

    --font-0: 'Inter', sans-serif;
    --font-1: 'Crete Round', serif;
    --font-2: "Ubuntu Mono", monospace;
}