@import url('https://fonts.googleapis.com/css2?family=Crete+Round:ital@0;1&display=swap');

:root {
    --text-color-0: #ccd;
    --text-color-1: #99a;
    --text-color-2: #778;
    --text-color-opposite-0: #171B27;
    --text-color-opposite-1: #1F2434;
    --container-0: #191e2a;
    --container-1: #1f2534;
    --container-2: #252c3e;
    --container-3: #2b3449;
    --container-4: #323b53;
    --container-opposite-0: #f6a1d9;
    --container-opposite-1: #f48ad0;
    --container-opposite-2: #dc7cbb;
    --container-opposite-3: #c36ea6;

    --font-0: 'Inter', sans-serif;
    --font-1: 'Crete Round', serif;
    --font-2: "Ubuntu Mono", monospace;
}