body {
  width: 100vw;
  height: 100vh;
}

.gui {
  visibility: hidden;
  position: absolute;
  display: flex;
  z-index: 2;
  user-select: none;
}

.edit-controls {
  top: 100%;
  right: 0;
  padding: 0 16px 16px 16px;
}

.widget.margin {
  margin: 8px 16px;
}

.widget {
  opacity: 1;
  transition: opacity 150ms linear;
}
.widget.selected-widget-for-operation {
  opacity: 0.6;
}

.drag-hint {
  width: 85%;
  height: 0;
  background-color: var(--container-opposite-3);
  margin: 2px auto;

  transition: height 100ms ease-in-out, width 100ms ease-in-out;
}

.drag-hint.expand {
  width: 90%;
  height: 10px;
}

.widget:hover > .gui,
.widget:focus > .gui {
  visibility: visible;
  opacity: 1 !important;
}

.widget.selected-widget-for-operation,
.widget.edit:hover,
.widget.edit:focus {
  outline: 2px solid var(--container-opposite-2);
  z-index: 3;
}
.widget.edit:hover {
  z-index: 5;
}

.widget.remove {
  opacity: 0;
  transition: opacity 175ms linear;
}

.gui button {
  user-select: none;
  padding: 4px;
  color: var(--text-color-opposite-0);
  background-color: var(--container-opposite-2);
  border: 2px solid var(--container-opposite-3);
  
  transition: background-color 250ms linear;
}
.gui button:hover {
  cursor: pointer;
  background-color: var(--container-opposite-1);

  transition: background-color 0ms linear;
}

.gui button > * {
  color: inherit;
}

.w-root {
  width: 100%;
  min-height: 100%;
  /*padding: 0 16px;*/

  background-color: var(--container-0);
  color: var(--text-color-0);
}