.w-page.widget {
    margin-right: auto !important;
    margin-left: auto !important;
    padding-top: 4px;
}
.w-page.fullscreen {
    margin-right: unset !important;
    margin-top: unset !important;
}