.w-heading {
  padding: 32px 16px;
  font-family: var(--font-1);
  color: var(--text-color-opposite-0);
  background-color: var(--container-opposite-3);
}

.w-heading *::selection {
  color: var(--container-opposite-3);
  background-color: var(--text-color-opposite-0);
}